.albumArtist{
    justify-content: center;
    padding-block-start:6.125rem ;
}
.albumArtist-details{
    text-align: center;
}

.album-background{
    background:  linear-gradient(181.17deg, rgba(47, 47, 47, 0) -35.3%, #171717 66.2%), url(../images/maluma.png);
    background-size: cover;
}