.button{

    border-radius: 1.5rem;
    background: transparent;
    padding-inline-start:2rem;
    padding-inline-end: 2rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    border: none;
    cursor: pointer;
    color: var(--gray10);


}
.button.is-white{
    background: var(--white);
    color: var(--gray50);
}
.button.is-primary{
    background: var(--primary);
    color: var(--white);
}
.button:active{
    transform: scale(.95);
}
/*
.button:hover:is([class*='is-']){
    box-shadow: 0 8px 8px rgba(
        0,0,0,0.3);
}
.button:active{
    transform: scale(.95);
}*/