.menuItem{

}
.menuItem a{
    /*display: block;*/
    display: flex;
    font: var(--button);
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    
    block-size: 2.5rem;
   /* line-height: 2.5rem;*/
   align-items: center;
   gap: .5rem;
}
.menuItem a:hover{
    text-decoration: none;
}
.menuItem[class^="icon-"]{
    font-size: 1.5rem;
}
.menuItem.is-active a{
    box-shadow: inset 4px 0 0 var(--primary);
    color: var(--white);
}
.menuItem.is-active .icon-home::before{
    content: "\e909";
}
.menuItem.is-active .icon-search::before{
    content: "\e913";
}