.nowPlaying{
    display:flex;
    gap: .5rem;
}
.nowplaying-cover{
    inline-size: 3.5rem;
    block-size: 3.5rem;
    vertical-align: middle;
}
.nowPlaying-details{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.nowPlaying-title{
    display: block;
    color: var(--white);
    font: var(--baseFontBold);
    text-decoration: none;
}
.nowPlaying-artist{
    font: var(--small);
    color: var(--gray10);
    text-decoration: none;
}
