.playerPlayback{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.playerPlayback-slider{
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.playerPlayback-progressTime{
    line-height: 1;
    position: relative;
    top:1px;
    font: var(--small);
}