@import './slider.css';
@import './player-controls.css';
@import './player-playback.css';
@import './player-Volume.css';
@import './now-playing.css';
.player{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: inset 0 1px 0 var(--gray30);/*no genera medida */
}
.player>*{
    flex: 1;
}
.player-control{
    border: none;
    padding: 0;
    background: none;
    color:var(--gray10) ;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.player-playerVolume{
    display: flex;
    justify-content: flex-end;
}