.playlistList{

}
.playlistList-top{
    padding-block-end:.5rem ;
    padding-block-start: .5rem;
    margin-block-end: 1rem;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 1rem;
}
.playlistList-container{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}
.playlistList-container>*{
    flex-shrink: 0;
}
.playlistList-title{
    color: var(--white);
    font: var(--headline2);
    margin: 0;
}
