.userSession{
    display: flex;
    align-items: center;
    font-size: var(--baseFont);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border-radius: 16px;
    border: none;
    padding-block-start: 0.125rem;
    padding-inline-start: 0.125rem;
    padding-block-end: 0.125rem;
    padding-inline-end: 0.625rem;
    gap: 0.25rem;
}
.userSession img{
    border-radius: 50%;
}
.userSession i{
    font-size: 0.375rem;
    padding-inline-start: 0.25rem;
}